body{
background:#ddd;
font-family:Arial;
}

.box{
width:350px;
margin:100px auto;
background:white;
padding:20px;
text-align:center;
}

.btn{
width:100%;
margin:5px;
padding:10px;
}
